# Data
pandas>=2.2.0
numpy>=1.26.4

# Optimization
scipy>=1.11.4

# Portfolio / Finance
statsmodels>=0.14.1

# Visualization
matplotlib>=3.8.2
seaborn>=0.13.2

# Utilities
tqdm>=4.66.2
python-dotenv>=1.0.1
